{{define "Head"}}<title>yx.fi short URLs</title>{{end}}

{{define "Body"}}
{{if .Error}}
<div class="error">
  <p>Creating the short URL failed:</p>
  <ul>
    <li>{{.Error}}</li>
  </ul>
</div>
{{end}}

<form id="shorturl" action="/add/" method="post">
  {{ .csrfField }}
  <fieldset>
    <legend>Shorten a URL</legend>
    <label for="url">URL</label>
    <input id="url" type="text" name="url" value="" placeholder="paste your long URL here" tabindex="1"/>
    <input id="submit" type="submit" value="Shorten url!" tabindex="2"/>
  </fieldset>
</form>
{{end}}
