<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>yx.fi shorturl</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div class="page">
      <!-- header -->
      <div class="header">
        <h1>YX.FI short urls</h1>
      </div>
      <!-- main content -->
      <div class="content">
      
      {{if .Error}}
      <div class="error">
        <p>Creating the short URL failed:</p>
        <ul>
          <li>{{.Error}}</li>
        </ul>
      </div>
      {{end}}

    <form id="shorturl" action="/add/" method="post">
        {{ .csrfField }}
        <fieldset>
          <legend>Shorten a URL</legend>
          <label for="url">URL</label>
          <input id="url" type="text" name="url" value="" placeholder="paste your long URL here" tabindex="1"/>
          <input id="submit" type="submit" value="Shorten url!" tabindex="2"/>
        </fieldset>
      </form>
      </div>
      <!-- footer -->
      <div class="footer">
        Abuse contact: shorturl@yx.fi.
      </div>
    </div>
  </body>
</html>
