<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>yx.fi shorturl - shorturl preview for 1</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="Author" content="Joonas Kortesalmi"/>
  </head>
  <body>
    <div class="page">
      <!-- header -->
      <div class="header">
        <h1>YX.FI short urls</h1>
      </div>
      <!-- main content -->
      <div class="content">
    <div class="url" id="urlbox">
        <p>Shortened URL</p>
        <p>
            <a href="{{ .URLString }}">&lt;{{ .URLString }}&gt;</a> [joneskoo.kapsi.fi]
        </p>
        <img width="120" height="120" alt="QR code for shorturl" class="qr"
         src="http://chart.apis.google.com/chart?cht=qr&amp;chs=120x120&amp;choe=UTF-8&amp;chl={{ .URLString }}">
    </div>
    <p>
      This was first added {{ formattime .Added "2006-01-02 15:04:05 MST" }}.
    </p>

    <p>
      It redirects to the long address
      <span class="redirecturl">{{ .URL }}</span>
    </p>
      <!-- footer -->
      <div class="footer">
        Abuse contact: shorturl@yx.fi.
      </div>
    </div>
  </body>
</html>
