body {
  background: #26b;
  color: white;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16pt;
}
div.page {
        margin: auto;
        background: #26b;
        max-width: 32em;
        padding: 4px;
}
.header h1 {
  color: #fff;
  margin: 2px;
  font-variant: small-caps;
  font-family: serif;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0.15ex 4px
}
h1 { border-bottom: 2px solid #002c51; }
.footer {
  text-align: right;
  font-variant: small-caps;
  font-size: 75%;
}
a { color: #8cf; }
img { border: 0px}
input { margin-left: 2px; margin-top: 1em; margin-bottom: 1em;}
input#submit { float: right; margin-top: 1em;}
label { font-weight: bold; }
h3 { font-size: 120%; }
fieldset { border: 2px solid #59e; }
div.error {
  background-color: #c66;
  padding: 1ex;
  font-size: 75%;
  margin-left: 2em;
  border: 1px solid #900;
}
div.content {
  margin-top: 1em;
}
/* The shortened URL on preview page */
p.url {
  text-align: center;
  margin: 1ex;
}
input#url {
  width: 100%;
  border-radius: 1ex;
}
p.url span.url {
  display: block;
  padding: 1ex;
  border: 2px solid #59e;
}
/* The original URL on preview page */
span.redirecturl {
  color: #cccccc;
  font-size: 70%;
  font-family: Courier New, monospace;
  display: block;
  margin: 1em;
  word-wrap: break-word;
  word-break: break-all;
}
/* Round corners */
div.page, div.error, fieldset, div.qr, p.url span.url {
  border-radius: 1ex;
  -moz-border-radius: 1ex;
  -webkit-border-radius: 1ex;
}
