<!DOCTYPE html><html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/style.css">
      {{template "Head" $}}
  </head>
  <body>
    <div class="page">
      <!-- header -->
      <div class="header">
        <h1>{{upper .Domain}} short urls</h1>
      </div>
      <!-- main content -->
      <div class="content">
        {{template "Body" $}}
      </div>
      <!-- footer -->
      <div class="footer">
        Abuse contact: shorturl@yx.fi.
      </div>
    </div>
  </body>
</html>
